html,
body {
    height: 100%;
    margin: 0;
}

#header {
    height: 150px;
    background-color: #66cc66;
}

#line {
    height: 50px;
    background-color: #ff9900;
}

#push {
    height: 100px;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}

#footer {
    height: 100px;
    background-color: #0099cc;
}
